<header class="site-header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="{{ '/' | relative_url }}" class="logo">
          <span class="logo-text">LeadFive</span>
        </a>
      </div>
      
      <button class="navbar-toggler" id="navbarToggler" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      
      <div class="navbar-menu" id="navbarMenu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ site.baseurl }}/#philosophy" class="nav-link">理念</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/#services" class="nav-link">サービス</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/#case-studies" class="nav-link">実績</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/blog/" class="nav-link">ブログ</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/company/" class="nav-link">会社概要</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" onclick="openContactForm(); return false;">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Mobile menu is handled by main.js -->